* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}



body {
  background-color: #dfdbdb;
  font-family: 'karla', sans-serif;
  font-weight: 400;
  height: 100%;
}

.results {
	color: black;
	position: inherit;

}

header {
	background-color: #363535;
	color: #dfdbdb;
	position: relative; /* fixed */
	z-index: 999;
	width: 100%;
	text-align: center;
	height: 10vh;

}
.logo {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*header img {
	position: absolute !important;
  top: 0 !important;
  left: 0 !important;
	margin-left: 1em;
}*/

.hamburger-btn {
	position: absolute;
	z-index: 999;
	display: inline-block;
	cursor: pointer;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-tap-highlight-color: transparent;

}

.line1, .line2, .line3 {
	width: 35px;
	height: 5px;
	background-color: #dfdbdb;
	margin: 3px 0;
	transition: 0.3s;
}


.change .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .line2 {opacity: 0;}

.change .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

nav {
position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #363535;
  width: 100%;
  	/*transform: scale(0,1);*/
  transition: transform 400ms ease-in-out;
  transform-origin: top;

}

.nav-bar  {
	display: none;
}

.nav-bar .visible  {
	display: block;

}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: #dfdbdb;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
}

nav a:active {
	-webkit-tap-highlight-color: transparent;
}


/* Left column */
.leftcolumn {   
  float: left;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/* Article image */
.articleimg {
  /*background-color: #dfdbdb;*/
  width: 100%;
  /*padding: 1rem;*/
  /*color: black;*/
}

/* Add a card effect for articles */
.card {
   background-color: #363535;
   padding: 1rem;
   margin-top: 1rem;
   grid-column: 2 / 3;
   color: #dfdbdb
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (min-width: 800px) {
	.hamburger-btn {
		display: none;
	}

	.nav-bar  {
		display: contents;
	}

	header {
	    background: #363535;
	    color: #dfdbdb;
	    /*position: fixed; */
	    z-index: 999;
	    width: 100%;
	    text-align: center;
	    display: grid;
	    /*height: 10vh;*/
	    grid-template-columns: 1fr auto minmax(600px, 2fr) 1fr;
	}

	.logo {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	nav li {
    margin-bottom: 0;
    margin-left: 2em;
	}

	.rightcolumn {   
    width: 100%;
    padding: 0;
  }
	
}